; Common Combo Randomizer ROM confiuration flags

org $F47000
config_flags:

; Enable "Multiworld"
config_multiworld:  ; $F47000
    dw #$0000

; Custom sprite enabled? This enables sprite author credits
config_alttp_sprite: ; $F47002
    dw #${% if z3spriteauthor != '' and mode == 'smz3' %}0001{% else %}0000{% endif %}
config_sm_sprite:    ; $F47004
    dw #${% if smspriteauthor != '' %}0001{% else %}0000{% endif %}


; Enables keysanity specific code sections.
config_keysanity:    ; $F47006
    dw #$0000
