; Common Combo Randomizer ROM confiuration flags

org $F47000
config_flags:

; Enable "Multiworld"
config_multiworld:  ; $F47000
    dw #$0000

; Custom sprite enabled? This enables sprite author credits
config_alttp_sprite: ; $F47002
    dw #${% if z3spriteauthor != '' and mode == 'smz3' %}0001{% else %}0000{% endif %}
config_sm_sprite:    ; $F47004
    dw #${% if smspriteauthor != '' %}0001{% else %}0000{% endif %}


; Enables keysanity specific code sections.
config_keysanity:    ; $F47006
    dw #$0000

; starting events
; 0001 is zebes awake (default)
; 0400 is Tourian open (AKA Fast MB)
; 03C0 is G4 statues already grey (no animation)
; it's bits, so bit-or for the final value
; e.g. 07C1 is tourian open with gray statues and zebes awake
config_events:       ; F47008
    dw #$0001
